@using CadastroProcessos.Models
@model ProcessoModel
@{
    ViewData["Title"] = "Detalhes Processo";
}

<section>
    <div class="d-flex justify-content-between align-items-center mb-2 mt-2">
        <h1 class="my-5">@ViewData["Title"]</h1>
        <button class="btn btn-primary" onclick="confirmarVizualizacao('@Model.ProcessoId')">Confirmar
            Vizualização</button>
    </div>
    <div class="grid col-12">
        <div class="col-12 mb-4">
            <label for="NomeProcesso" class="form-label mb-0">Nome Processo</label>
            <p class="fw-bold fs-3">@Model.NomeProcesso</p>
        </div>
        <div class="d-flex">
            <div class="col-5 mb-3">
                <label for="Npu" class="form-label mb-0">NPU</label>
                <p class="fw-bold fs-5">@Model.Npu</p>
            </div>
            <div class="col-3 mb-3">
                <label for="DataCadastro" class="form-label mb-0">Data Cadastro</label>
                <p class="fw-bold fs-5">@Model.DataCadastro</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-2 mb-3">
                <label for="Uf" class="form-label mb-0">UF</label>
                <p class="fw-bold fs-5">@Model.Uf</p>
            </div>
            <div class="col-3 mb-3">
                <label for="Municipio" class="form-label mb-0">Município</label>
                <p class="fw-bold fs-5">@Model.Municipio</p>
            </div>
            <div class="col-3 mb-3">
                <label for="CodMunicipio" class="form-label mb-0">Código Municipio</label>
                <p class="fw-bold fs-5">@Model.CodMunicipio</p>
            </div>
            <div class="col-3 mb-3">
                <label for="DataVizualizacao" class="form-label mb-0">Data Vizualização</label>
                <p class="fw-bold fs-5">@Model.DataVizualizacao</p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function confirmarVizualizacao(processoId) {
            console.log('ProcessoId', processoId);

            if (confirm('Deseja realmente confirmar a visualização deste processo?')) {
                fetch('@Url.Action("ConfirmaVizualizacao", "Processo")/' + processoId, {
                    method: 'PUT',
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Processo visualizado com sucesso');
                        } else {
                            alert('Erro ao visualizar o processo');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao visualizar o processo', error);
                        alert('Erro ao visualizar o processo');
                    });
            }
        }
    </script>
}